body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E5E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.button {
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: #C8B389;
  border-radius: 4px;
  width: 466px;
  height: 36px;
  border: 0;
  cursor: pointer;
}

.buttonLoad {
  margin-top: 24px;
}

.buttonSaveCity {
  width: 100%;
}

.watchCities {
  display: flex;
  flex-direction: column;
  width: 466px;
  margin-top: 59px;
  margin-left: 122px;
}

.cityContainer {
  margin-top: 25px;
  background: #FFFFFF;
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.cityContainer__cityLink {
  display: block;
  width: 466px;
  height: 56px;
  font-family: Roboto;
  font-size: 14px;
  border-bottom: 1px solid #E0E0E0;
  padding: 20px 0 0 32px;
  box-sizing: border-box;
  text-decoration: none;
  color: #3F3F3F
}

.cityContainer__cityLink:hover {
  cursor: pointer;
  background: #E0E0E0;
}

.input {
  width: 494px;
  height: 56px;
  background: #F5F5F5;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 22px;
}

.titleNewCity {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #3F3F3F;
  display: block; 
}

.formCity {
  width: 1075px;
  display: flex;
  flex-direction: row;
  margin: 57px 0 0 122px;
}

.pagesList {
  display: flex;
  width: 466px;
  margin-top: 24px;
}

.pagesList__pageNumber {
  cursor: pointer;
  display: block;
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-right: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}